<link rel="import" href="bower_components/polymer/polymer.html">

<!--

#####

    <ramp-shop-entity></ramp-shop-entity>

@element ramp-shop-entity
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://RobbyWauters.github.io/ramp-shop-entity
-->
<polymer-element name="ramp-shop-entity" attributes="type">

  <template>
    <link rel="stylesheet" href="ramp-shop-entity.css" />

    <content>
      <div id="shopMember" class="shopItem" style="background-image:url(../images/{{imgName}}.png)">
        <img src="../images/add.png" />
        <p class="info">{{type}} {{console}}</p>
      </div>
    </content>

  </template>

  <script>

    Polymer('ramp-shop-entity', {

      type: "member",
      console: "",
      imgName: "chair",

      ready: function() {
        var self = this;

        this.imgName = "";
        switch(this.type){
          case "chairman":
            this.imgName = "chairman_chair";
            break;
          case "member":
            this.imgName = "chair";
            break;
           case "dj":
            this.imgName = "stool";
            break;
           case "table":
            this.imgName = "table";
            break;
           case "booth":
            this.imgName = "booth";
            break;
        }
      }

    });

  </script>

</polymer-element>
