<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!--
	 	WEB COMPONENTS
	-->
	<script src="components/bower_components/platform/platform.js"></script>
	<link rel="import" href="components/ramp-entity.html">
	<link rel="import" href="components/ramp-shop-entity.html">


  </head>
  <body>


	<div id="container">
		<div id="topView">
			<ramp-entity description="tafel" type="table" x="2" y="2" w="5" h="3" editable="true"></ramp-entity>
			<ramp-entity description="mainguest" type="member" x="3" y="1" micId="1" editable="true"></ramp-entity>
			<ramp-entity description="secondguest" type="member" x="4" y="1" micId="2" editable="true"></ramp-entity>
			<ramp-entity description="thirdguest" type="member" x="5" y="1" micId="3" editable="true"></ramp-entity>

			<!-- <ramp-entity type="booth" x="3" y="6"></ramp-entity>
			<ramp-entity type="dj" x="6" y="7"></ramp-entity>
 -->
		</div>
		<div id="shopView" class="sideView">
			<h2>Add new things</h2>
			<div class="shop">
				<ramp-shop-entity type="member"></ramp-shop-entity>
				<ramp-shop-entity type="chairman"></ramp-shop-entity>
				<ramp-shop-entity type="dj"></ramp-shop-entity>
				<ramp-shop-entity type="table"></ramp-shop-entity>
				<ramp-shop-entity type="booth"></ramp-shop-entity>
			</div>
			<h2>Properties</h2>
			<div class="propertyPane">
				<div id="propForm">
					<img src="images/chair.png" />
					<span class="typeTitle">Member</span>
					<br/>
					<p>Label:
						<select name="description">
							<option value="dj">dj</option>
							<option value="mainguest">main guest</option>
							<option value="secondguest">second guest</option>
							<option value="thirdguest">third guest</option>
						</select>
					</p>
					<p>MicID:
					<select name="micId">
						<option value="1">Mic 1</option>
						<option value="2">Mic 2</option>
						<option value="3">Mic 3</option>
						<option value="4">Mic 4</option>
						<option value="NA">N/A</option>
					</select></p>
					<p>On seat:
					<select name="onSeat">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></p>
					<p>X:<select name="x">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option selected value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
					</select></p>
					<p>Y:<select name="y">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select></p>
					<p>W:<select name="w">
						<option selected value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select></p>
					<p>H:<select name="h">
						<option selected value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select></p>
					<p>Direction:<select name="direction">
						<option selected value="up">up</option>
						<option value="left">left</option>
						<option value="right">right</option>
						<option value="down">down</option>
					</select></p>
					<div id="remove">Remove</div>
				</div>
				<p id="propMessage">No active entity</p>
			</div>
			<div class="syncButton">Save Config</div>
		</div>
	</div>




	<!-- <script src="vendor/fastclick.js"></script> -->
	<script src="vendor/draggabilly.pkgd.min.js"></script>
	<script src="vendor/jquery-1.11.0.min.js"></script>
	<!-- <script src="vendor/jquery-sortable-min.js"></script>
	<script src="vendor/jquery.nouislider.min.js"></script>
	<link rel='stylesheet' href='vendor/jquery.nouislider.css' />
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/gsap/TweenLite.min.js"></script>
	<script src="vendor/gsap/easing/EasePack.min.js"></script>
	<script src="vendor/gsap/jquery.gsap.min.js"></script>
	<script src="vendor/gsap/plugins/CSSPlugin.min.js"></script>-->


	<script src="javascripts/editor.js"></script>
  </body>
</html>
