*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border-style: none;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
}

a {
	color: #00B7FF;
}

/**
 *	COLORS
 */
grey: rgb(158, 158, 158);
light: rgb(229, 225, 209);
pink: rgb(224, 57, 61);
dark: rgb(37, 55, 70);
valeblue: rgb(66, 85, 99);

/**
 *	GLOBAL PAGE LAYOUT
 */
.draggie{
	width: 150px;
	height: 150px;
	background: #FA0;
	border-radius: 10px;
	z-index: 1;
}

.total-centered {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	-webkit-transform:translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#container{
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
}

#topView{
	position: absolute;
	width: 75%;
	height: 100%;
	left: 0;
	background-color: rgb(230, 230, 230);
	background-image: url("../images/grid.gif");
	background-repeat: repeat;
	background-position: top left;
}

.sideView{
	position: absolute;
	width: 25%;
	height: 100%;
	right: 0;
	background-color: rgb(66, 85, 99);
}

/**
 *	BUTTON VIEW DETAIL
 */

#buttonView .button{
	position: relative;
	height: 100px;
	background-color: rgb(240, 155, 155);
	margin: 10px;
	color: white;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
}

/**
 *	SHOP VIEW DETAIL
 */

#shopView h2{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgb(37, 55, 70);
	color: white;
	font-weight: 500;
}

.shopItem{
	position: relative;
	background-image: url("../images/chair.png");
	background-repeat: no-repeat;
	background-position: top left;
	width: 64px;
	background-color: white;
	margin: 4px;
	float: left;
	cursor: alias;
}

.shopItem img{
	position: absolute;
	right: 0;
	top: 36px;
	width: 24px;
	height: 24px;

}

.shopItem .info{
	margin-top: 64px;
	text-align: center;
	background-color: rgb(224, 57, 61);
	color: white;
	line-height: 24px;
	font-size: 12px;
}

#shopChairman{
	background-image: url("../images/chairman_chair.png");
}
#shopMember{
	background-image: url("../images/chair.png");
}
#shopDJ{
	background-image: url("../images/stool.png");
}

/**
 *	PROPERTY PANE
 */
 .propertyPane{
 	width:90%;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 10px;
 	background-color: rgb(200, 200, 210);
 	overflow: hidden;
 }
.propertyPane #propForm{
	display: none;
}
.propertyPane img{
	position: absolute;
	background-color: white;
	margin-left: 4px;
	margin-top: 4px;
	width: 64px;
	height: 64px;
}
.propertyPane .typeTitle{
	position: absolute;
	width: 64px;
	margin-top: 64px;
	margin-left: 4px;
	text-align: center;
	background-color: rgb(224, 57, 61);
	color: white;
	line-height: 24px;
	font-size: 12px;
	text-transform: capitalize;
}
.propertyPane p{
	position: relative;
	left: 75px;
	margin-bottom: 20px;
	color: rgb(60, 60, 60);
}
.propertyPane p select{
	position: absolute;
	left: 70px;
	width: 70px;
}
#propMessage{
	display: block;
	margin-top: 20px;
}
.propertyPane #remove{
	text-align: center;
	background-color: rgb(224, 57, 61);
	color: white;
	line-height: 24px;
	cursor: pointer;
}

/**
 *	TOP VIEW DETAIL
 */

.entity{
	position: absolute;
}

.chair{
	position: absolute;
	width: 62px;
	height: 62px;
}
